*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.box::before {
  content: "Sup";
}

.box {
  width: 100px;
  height: 100px;
  background-color: gold;
  display: inline-block;
}
