body {
  margin: 10px;
}
.tweet {
  border: 2px solid lightseagreen;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.avatar {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  float: left;
  margin-right: 0.5rem;
}
.clear {
  clear: both;
}
