html {
  font-size: 62.5%;
}

body {
  margin: 10px;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #222;
}

div {
  width: 1140px;
  margin: 10px auto;
}

p {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  color: #333;
  font-size: 2.5rem;
}

img {
  width: 100%;
  height: 80rem;
  object-fit: cover;
}

h1,
h2,
h3 {
  font-family: Poppins, sans-serif;
  margin: 3rem 0 1rem;
  color: #111;
}

h1 {
  font-size: 5.61rem;
  letter-spacing: -0.15rem;
  word-spacing: 1.2rem;
}

h2 {
  font-size: 4.209rem;
}

h3 {
  font-size: 3.157rem;
}
