html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.form-container {
  max-width: 300px;
  width: 100%;
}

.input-field,
.btn {
  width: 100%;
  padding: 1.5rem;
}

.input-field {
  box-sizing: border-box;
  border: 1px solid #ced4da;
  outline: 0;
  border-radius: 5px;
  transition: border 0.5s, box-shadow 0.5s;
}

.input-field:focus {
  border: 1px solid #86b7fe;
  box-shadow: 0 0 0 5px #b9d3fa;
}

.btn {
  color: #fff;
  background-color: #0d6efd;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  background: #0759d3;
}

.form-control {
  margin: 1rem 0;
}

.muted {
  color: #999;
}
