html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, sans-serif;
  background-image: url(../images/BG_exercise/BG_w_320.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}

.hero {
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  text-shadow: 2px 2px 2px black;
  word-spacing: 1.68rem;
}

p {
  padding: 1rem;
  font-size: 1.415rem;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.75);
  display: inline-block;
}

@media screen and (min-width: 320px) and (max-width: 853px) {
  html {
    font-size: 91%;
  }

  body {
    background-image: url(../images/BG_exercise/BG_w_903.jpg);
  }
}

@media screen and (min-width: 854px) and (max-width: 1228px) {
  html {
    font-size: 122%;
  }

  body {
    background-image: url(../images/BG_exercise/BG_w_1375.jpg);
  }
}

@media screen and (min-width: 1228px) {
  html {
    font-size: 155%;
  }

  body {
    background-image: url(../images/BG_exercise/BG_w_1440.jpg);
  }
}
